@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body{
  background-color: #fff;
}

/*Header*/

a{
  color:black!important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.logo-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem!important;
}

.profile-icon{
  text-align: center;
}

.navbar-fixed{
  margin-bottom: 4rem;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 1;
  margin-top: 60px;
  width:90%;
  max-height:20rem;
}


/*Login Page*/

.login-card, .signup-card{
  margin-top: 19vh;

}

.login-card h3, .signup-card h3{
  font-family: 'Grand Hotel', cursive;

}

.login-card .card-input-fields,
.signup-card .card-input-fields,
.file-upload-card .card-input-fields {
  margin-top: 2rem;
}

.login-card .inputBtn,
.signup-card .inputBtn,
.file-upload-card .inputBtn {
  width: 20rem!important;
}

input:focus {
  border-bottom: 1px solid #1976d2!important;
}

.login-card .sbmtBtn,
.signup-card .sbmtBtn,
.file-upload-card .sbmtBtn {
  width: 20rem!important;
  margin-top: 2rem;
}

.span-signup, .span-login{
  margin-top: 2rem;
}

.signup-link, .login-link {
  color:#1976d2!important;
  font-weight: bold;
}

.phone-image img{
  margin-top: 10vh;
  width:20rem;
  margin-left: 4rem;
}

/*Signup*/

.signup-subtitle{
  color: rgb(99, 97, 97);
  margin: 0 3rem;
  margin-bottom: 0.3rem;
}

/*Post*/

.post{
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.postHeader{
  margin-left: .5rem;
  padding-top:1rem;
}

.otherUserProfileIcon{
  margin-right: .5rem;
}

.otherUserProfileImage{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  margin-top: 0.1rem;
}

.postCaption{
  margin-left: .6rem;
}

/*File Upload*/

.file-field{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
/*Profile Page*/
.profilePictureAvatar{
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
}

.profileInfo{
  margin-left: 4rem;
  
}

.profileStatistics{
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.galleryItem {
  width: 30%;
  max-height: 20rem;
  margin: 1rem;
}

.galleryItem:hover {
  cursor: pointer;
}

/*Page Not Found Component*/ 

.error{
  border: 10px double pink;
  margin-top:5rem;
}
.errorTxt{
  font-size:4rem;
  font-weight: 700;
}

/*Following & Followers list*/

.followList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.followItem {
  width: 22%;
  max-height: 20rem;
  margin: 1rem;
}

.followItem img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.followButton{
  display: flex;
  justify-content: center;
}

.followButton button{
  margin:0 auto!important;
}

