@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body{
  background-color: #fff;
}

/*Header*/

a{
  color:black!important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.logo-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem!important;
}

.profile-icon{
  text-align: center;
}

nav{
  margin-bottom: 4rem;
}

/*Login Page*/

.login-card, .signup-card{
  margin-top: 19vh;

}

.login-card h3, .signup-card h3{
  font-family: 'Grand Hotel', cursive;

}

.login-card .card-input-fields,
.signup-card .card-input-fields{
  margin-top: 2rem;
}

.login-card .inputBtn,
.signup-card .inputBtn {
  width: 20rem!important;
}

input:focus {
  border-bottom: 1px solid #1976d2!important;
}

.login-card .sbmtBtn,
.signup-card .sbmtBtn {
  width: 20rem!important;
  margin-top: 2rem;
}

.span-signup, .span-login{
  margin-top: 2rem;
}

.signup-link, .login-link {
  color:#1976d2!important;
  font-weight: bold;
}

.phone-image img{
  margin-top: 10vh;
  width:20rem;
  margin-left: 4rem;
}

/*Signup*/

.signup-subtitle{
  color: rgb(99, 97, 97);
  margin: 0 3rem;
  margin-bottom: 0.3rem;
}

/*Post*/

.post{
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}


